<h1>My cocktails :</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li> <%= cocktail.name %> -  <%= link_to "Show details", cocktail_path(cocktail), class: "btn btn-primary" %> </li>
  <% end %>
</ul>


    <%= link_to "Add new cocktail", new_cocktail_path, class: "btn btn-primary" %>
