
<div class="container">
  <h1 class="list">My cocktails :</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <!-- <div class="card"> -->
      <% if cocktail.photo? %>
          <% photo_url = cl_image_path cocktail.photo.path, class: 'cocktail-img img-responsive', width: 300, height: 300, crop: :fill %>
        <% else %>
          <% photo_url = image_path('basic_cocktail.jpg') %>

        <% end %>



      <div class= "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( '<%= photo_url %>');">
        <div class="card-description">
          <h3>
            <%= cocktail.name %>
          </h3>
          <p><%= link_to "Show details", cocktail_path(cocktail) %></p>
        </div>




      </div>
    </div>
    <% end %>

  </div>
</div>
