
<div class="container">
<h1 class="list">My cocktails :</h1>
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card">
        <%= cocktail.name %>
        <%= link_to "Show details", cocktail_path(cocktail) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
