<div> <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, placeholder: "Description", wrapper_html: { class: 'form-group' } %>
  <%= f.input :ingredient_id, collection: Ingredient.all, wrapper_html: { class: 'form-group' }%>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-block btn-primary' %>
  </div>
  <% end %>
</div>


